<html>
  <meta char-set="utf-8">
  <head>
    <title>
      Emperorbear's blog

    </title>


  <body>
    <header>
      <h1><a href="#">Emperorbear's blog</a></h1>
    </header>
    <div>
      <p>published-date:14.06.2015, 12:14</P>
      <h1><a href="">My first Post</a><h1>
      <p> this is the content. I will put the content here</p>
    </div>
    <div>
      <p>published-date:14.06.2015, 12:14</P>
      <h1><a href="">My second Post</a><h1>
      <p> this is the content. I will put the content here</p>
    </div>

  </body>>

</html>
